.evaluationPage {
  &-product {
    padding: 24px 32px;
    border-bottom: 1px solid #eee;
    background-color: $white;

    &-icon {
      flex: 0 0 128px;
      height: 128px;
      margin-right: 16px;
      border-radius: 4px;
    }

    &-texts {
      flex-direction: column;
      justify-content: space-between;

      &-name {
        @include line-clamp(1);
        color: #666;
        font-size: 28px;
      }

      &-nums {
        font-size: 28px;
        color: #333333;
      }
    }

  }

  &-f2 {
    background-color: $white;

    .at-textarea {
      border: none;
    }
  }

  &-f3 {
    background-color: $white;
  }

  &-footer {
    position: fixed;
    bottom: 24px;
    left: 24px;
    right: 24px;
  }
}