.index-imageWrap{
  display: inline-block;

.index-image{
  display: inline-block;
  width: 52px;
  height: 28px;
  margin-left: 16px;
 }
 .index-image-service{
   display: inline-block;
  width: 76px;
  height: 28px;
  margin-left: 16px;
 }
}