.ClassifyPicker {
  .classify-content {
    min-height: 400px;
    max-height: 800px;
    display: flex;

    .level1s {
      text-align: center;
      // flex: 0 0 193px;
      font-size: $fz32;
      border-right: 1px solid $colorEEE;
      .level1 {
        padding: 24px 32px;

        &-active {
          color: $color-primary;
        }
      }
    }

    .level2s {
      padding: 32px 24px;
      font-size: 0;
      flex: 1;

      .level2Item {
        display: inline-block;
        font-size: $fz28;
        color: $fontColor;
        padding: 12px 24px;
        border-radius: 8px;
        background: $gray;
        // margin: 12px;
        margin-right: 16px;
        margin-bottom: 24px;
        box-sizing: border-box;
        vertical-align: middle;

        &-active {
          background-color: rgba(170, 22, 18, 0.08);
          color: $color-primary;
        }
      }
    }

  }
}