.principal {
  height: 100vh;
  overflow: hidden;
  background: #000;

  &-logo {
    width: 225px;
    height: 235px;
    display: block;
    margin: auto;
    margin-top: 317px;
  }

  &-slog {
    width: 696px;
    height: 42px;
    display: block;
    margin: auto;
    margin-top: 493px;
  }
}
