
.feedback-record-list{
  :last-child{
    border-bottom: none;
  }
}

.feedback-record-list-item {
  
  padding: 32px 8px 32px 8px;
  box-sizing: border-box;
  &-box {
    display: flex;
    &-tit {
      font-size: 32px;
      color: #333;
      line-height: 33px;
      min-width: 160px;
    }
    &-content {
      margin-left: 10px;
      font-size: 32px;
      color: #333;
      line-height: 33px;
      @include line-clamp(1);
    }
  }
  &-date{
    font-size: 24px;
    color: #bdbdbd;
    margin-top: 16px;
    line-height: 24px;
  }
}
.bw-record-Scrollview{
  height: calc(100% - 96px);
}
