.selectGoods {
  height: 100vh;
  background: #fff5e9;
  &-banner {
    width: 750px;
    height: 317px;
    &-img {
      width: 750px;
      height: 317px;
    }
  }
  &-list {
    background: #fff5e9;
    padding: 0 24px;
  }
  &-sharebox{
    height: 98px;
    &-share {
      position: fixed;
      bottom: 24px;
      left: 24px;
      width: 702px;
      height: 98px;
      z-index: 2;
      background: #aa1612;
      border-radius: 8px;
      text-align: center;
      line-height: 98px;
      color: #fff;
      font-size: 36px;
     
    }
  }
  
}
