

.bw-lx-rules{
  padding: 24px;
  &-title{
    color: #666;
    font-size: 28px;
    margin-top: 20px;
  }
  &-title-sub{
    padding-left: 24px;
    color: #666;
    font-size: 28px;
    margin-top: 20px;
  }
  
}