
.Promote{
  width: 750px;
  background: linear-gradient(270deg, #D0AC7A, #F2E2CD, #D0AC7A);
  &-img{
    width: 750px;
    height: 395px;
 
    &-ele{
      width: 750px;
      height: 395px;
    }
  }

}