.PreviewImg {
  width: 100px;
  height: 100px;
  // margin-right: 16px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  &-approveImg {
    width: 100%;
    height: 100%;
  }

  &-btn {
    width: 100%;
    height: 38px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: .4);
    line-height: 38px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
  }
}

.others {
  width: 315px;
  height: 210px;
  position: relative;
}
