
.pledgeMoney-picker{
  padding: 0 32px;
  color: #333333;
  font-size: 28px;
  line-height: 88px;
  
}
.pledgeMoney-picker-currentTime-icon{
  font-size: 32px;
  vertical-align: middle;
}

.pledgeMoney-ScrollView{
  height: calc(100% - 185px);
}