
.bill-detail{
  padding: 24px;
}

.bill-detail-content{
  padding:  0 24px;  
  &-box{
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;

  }
}
.bill-detail-content-item{
  margin-top: 24px;
  font-size: 28px;
  &-label{
   color: #999999;
   margin-right: 56px;
  }
  &-value{
    color: #666666;
  }
  &-copy{
    display: inline-block;
    // font-size: 44px;
    background: rgba(27, 40, 122, 0.08);
    border-radius: 4px;
    padding: 4px 12px;
    color: #1F78DD;
    transform: scale(0.5);
  }
}
