
.Launch{
  position: relative;
  width: 750px;
  box-sizing: border-box;

  background: linear-gradient(270deg, #D0AC7A, #F2E2CD, #D0AC7A);
  &-img{
    width: 750px;
    height: 395px;
 
    &-ele{
      width: 750px;
      height: 395px;
    }
  }
  &-more{
    padding: 0 24px;
    &-img{
       width: 700px;
    height: 299px;
    }

  }
  &-down{
    padding: 0 18px;
    width: 714px;
    height: 117px;
    &-img{
      position: fixed;
      z-index: 33;
      bottom: 10px;
      margin: 0 auto;
      width: 714px;
      height: 117px;
      
    
    }
  }
  .launch-guide-img{
    position: absolute;
    width: 464px;
    height: 280px;
    right: 53px;
    top: 59px;
    
  }
  .bw-popup{
    // position: relative;
  }
  .bw-popup__overlay{
    // background-color: rgb(0, 0, 0);
    z-index: 12;
  }
  .layout-content{
    height: 100vh;
    background-color: rgb(0, 0, 0);


  }
}