//
//.GoodsCommission{
//  &-list{
//    &-item{
//      margin-top: 24px;
//      padding: 0 32px;
//
//    }
//  }
//}
.GoodsCommission-list-item{
  margin-top: 24px;
  background: #FFFFFF;

  &-user{
    padding: 0 32px;
    border-bottom: 1px solid #EEEEEE;
    &-info{
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      font-size: 28px;

      &-head{
        display: flex;
        &-img{
          height: 40px;
          width: 40px;
          &-imgEle{
            width: 100%;
            height: 100%;
            border-radius: 50%;

          }
        }
        &-nick{
          color: #333333;

        }
      }
    }
    &-account{
      color: #C19529;
    }
  }
  &-goodsInfo{
    padding: 24px 32px;
    display: flex;
    height: 252px;
    box-sizing: border-box;
    // 图片稍后处理
    &-imgWrapper{
      &-img{
        width: 180px;
        height: 180px;
        margin-right: 16px;
        &-imgEle{
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
      }
    }
    &-detail{
      width: 100%;
      &-title{
        color: #666666;
        font-size: 28px;
        @include line-clamp(1)
      }
      &-date{
        color: #999999;
        font-size: 24px;
        margin-top: 8px;
      }
      &-moneyInfo{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        align-items: center;
        font-size: 24px;
       &-money{
         &-price{
           color: #333333;
         }
         &-profit{
           color:#AA1612;
         }
       }
      }
    }

  }
}

.GoodsCommission-list-scrollView{
  height: calc(100% - 88px);
}